.fetch-error{
    max-inline-size: 900px;
    text-align: center;
    margin: 0 auto;
}

.fetch-error h2{
    letter-spacing: 4px;
    font-size: 2.5rem;
    color: var(--error);
}

.fetch-error h2, p {
    margin-top: 15px;
}

.fetch-error img{
    max-inline-size: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.fetch-error p span{
    font-style: italic;
    font-weight: 550;
    font-size: 1.5rem;
    color: var(--error);
}

.fetch-error p a{
    font-weight: 550;
    text-decoration: none;
    color: var(--hover);
    font-size: 1.5rem;
    transition: .3s all ease-in;
}

.fetch-error p a:hover{
    color: var(--success);
}

