.main-header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.main-header img{
    width: 80px;
}

.main-header-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}