.main-header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.main-header img{
    width: 80px;
}

.main-header-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header-user-profile{
    
}