/* .main-nav{
    padding: 20px;
} */

.tabs{
    background-color: var(--tabsBg);
    padding-block: 30px;
    padding-inline: 20px;
    max-inline-size: 300px;
    box-shadow: 2px 2px 10px var(--hover);
}

.tabs li{
    list-style: none;
    margin-top: 70px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: inherit;
}